.heatItem {
    background-color: vars.$bg-level-3;
    overflow: hidden;
    padding-bottom: 0;

    &.expanded {
        padding-bottom: vars.$default-spacing;
    }
}

.heatHeader {
    padding: vars.$default-spacing;
    display: flex;
    gap: vars.$default-spacing;
    // justify-content: space-between;

    img {
        width: 16px;
        transform: rotate(-90deg);
        transition: all 0.1s;

        &.rotate {
            transform: rotate(0deg);
        }
    }
}
